{% extends 'base/base.html' %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Alta de tiendas oxxos</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                                            
                            <form method="post">
                                {% csrf_token %}
                                {{form.as_p}}
                                <button type="submit">Guardar</button>
                            </form>
                       
                    </div>

                    <!-- /.card-body -->

                    <div class="card card-primary">
                        
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
{% endblock %}